body{
    background:linear-gradient(360deg, white 0%,aqua 100%);
    height:100vh;
    font-family: "Kode Mono",sans-serif;
}

.container{
    background-color: white;
    width:400px;
    margin:50px auto;
    padding:30px;
    border-radius:50px;

}
.todoList{
    text-align: center;
    font-size: 30px;
    font-weight:700;

}
.inner{
    
    margin:0 auto ;
    max-width: 300px;
    width:100%;
}
.inputText{
    background-color: transparent;
    border:0px;
    flex:1;
    outline:none;
    padding:10px 20px;
    

}
.input{
 background-color: yellow;
 border-radius:20px;
 display:flex;
 justify-content: space-between;
 width:100%;
 max-width: 400px;
}

.add{
    border-radius: 10px;
    border:0px;
    background-color:blue;
    color:white;
    font-family: "Kode Mono",sans-serif;
    font-size:12px;
    padding:10px 10px;
    cursor: pointer;
    font-weight:700;
}
.list{
    list-style: none;
    padding:0;
}
.list li{
    vertical-align: middle;
    background-color: aquamarine;
    font-weight:400;
    padding:5px;
    position: relative;
}
.list li.checked{
    text-decoration: line-through;
}

.list li::before{
    content:'';
    display:inline-block;
    width:20px;
    height:20px;
    background-image:url('unchecked.svg');
    background-size:contain;
    background-repeat:no-repeat;
    cursor:pointer;
    margin:5px;
    vertical-align:middle;
}
.list li.checked::before{
    background-image: url('checked.svg');
}
.delete{
    background-image: url('delete.svg');
    background-repeat:no-repeat;
    border-radius:20px;
    padding:5px;
    background-position:center;
    object-fit: cover;
    position:absolute;
    right:0;
    top:0;
    width: 20px;
    height:20px;
}
.delete:hover{  
    background-color:rgb(202, 196, 196);
    cursor:pointer;
}   