*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family:"Popings",sans-serif;
}
.title{
    font-family:"Popings",sans-serif;
    font-size:32px;
    font-weight: 600;
}
.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin:0 auto;
    padding:1rem;
    max-width:500px;
    
}

.selector_container{
    display:flex;
    gap:16px;
    margin-top:32px;
}

.selector_wrapper{
    position:relative;
    width:fit-content;
    border:1px solid red;
    border-radius: 4px;
}
.selector_wrapper::after{
    content:"";
    background-image: url("dropdown_icon.svg");
    width:18px;
    height:18px;
    position:absolute;
    right:8px;
    top:50%;
    transform: translateY(-50%);
    pointer-events: none;
}
.type_selector{
    background-color: transparent;
    border:none;
    width:100%;
    border-radius: 4px;
    line-height:1;
    padding:10px;
    padding-right:30px;
}

.type_item{
    background-color: white;
    position:absolute;
    border:1px solid red;
    top:100%;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    border:none;
    border-radius: 12px;
    padding:20px;
    display:flex;
    flex-direction: column;
}

.type_item_options{
    display:flex;
    align-items: center;
    gap:2px;
}
.hidden{
    display:none;
}
.options{
    text-wrap: nowrap;
}

.order_selector{
    appearance: none;
    border:none;
    border-radius: 4px;
    width:100%;
    padding:10px;
    padding-right:30px;
    line-height:1;
}
.image_grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    column-gap:1rem;
    margin:1rem 0;
    max-width:768px;
}



.card{
    font-family: "Popings",sans-serif;
    cursor:pointer;
    display:flex;
    flex-direction:column;
    gap:0;
    margin-bottom: 16px;



}
.card_image{
    width:100%;
    height:auto;
    object-fit:contain;
    border-radius: 6px;
    margin-bottom:3px;
}
.load_more{
    width:fit-content;
    margin:0 auto;
    background-color: transparent;
    border-radius: 4px;
    padding:10px;
    border:1px solid #999999;
    display:inline-flex;
    cursor:pointer;
}

.drawer{
    position:fixed;
    right:0;
    top: 0;
    width: 300px;
    height:100%;
    background-color: #f9f9f9;
    box-shadow: -1px 0 5px rgba(0,0,0,0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    overflow: scroll;
}
.drawer.open{
    transform:translateX(0);
}
.drawer_image{
    width:100%;
    height: auto;
    object-fit: contain;
}
.item_name{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:3px;
    margin:5px;
}
.item__name{
    margin:0;
    font-family: "roboto",sans-serif;
    font-size:18px;
    font-weight: 400;
}
.item_origin{
    margin:0;
    font-family: "roboto",sans-serif;
    font-size:12px;
    font-weight: 400;
    display:flex;
    flex-direction: row;
    align-items:center;
    gap:3px;
    color:#747474;
}
.origin_image{
    width:10px;
    height:10px;
    object-fit: contain;
}

.line{
    border-top:1px solid #e5e5e5;
    margin:0.5rem 0px; 
}
.vertical_line{
    border-left:1px solid #e5e5e5;
    height:25px;
    
}
.item_box1{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    font-family: "roboto",sans-serif;
    text-align:center;
    align-items:center;
    padding:0 2rem;
}
.item_a_w{
    display: flex;
    flex-direction: column;
    align-items:center;
    gap:2px
}
.item_a_w_num{
    font-weight:500;
    font-size:14px;
}
.item_a_w_lable{
    font-weight: 500;
    color:#747474;
    font-size:12px;
}
.item_box2{
    margin:10px
}
.personality{
    font-family: "roboto",sans-serif;
    font-size:14px;
    font-weight: 600;
}
.personality_tag{
    display:flex;
    flex-direction:row;
    gap:8px;
    margin-top:8px;
}
.tags{
    font-family: "roboto",sans-serif;
    font-size:10px;
    font-weight: 600;
    padding:3px 6px;
    border-radius:4px;
    background-color: rgb(182, 203, 248);
    color:rgb(30, 7, 240);
}
.item_box3{
    display:flex;
    flex-direction: row;
    flex-direction:column;
}
.property{
    display:flex;
    align-items:center;
    margin:5px 16px;
    justify-content: space-between;;
}
.property_title{
    font-family: "roboto",sans-serif;
    font-size: 12px;
    font-weight: 600;
}
.property_line{
    border:1px solid #e5e5e5;
    border-radius:20px;
    width:200px;
    height:10px;
}
.property_line_full{
    background:linear-gradient(90deg,rgb(118, 202, 231),rgb(70, 122, 225) 100%);
    border-radius:20px;
    width:50%;
    height:8px;
    position:relative;
    top:0.5px;
    left:1px;
}